version: '3.9'

services:
  web:
    image: nginx:alpine
    container_name: web
    restart: unless-stopped
    ports:
      - "8000:80"
    environment:
      - PHP_FPM_NGINX_MAX_REQUESTS
      - PHP_FPM_PORT
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf.template:/etc/nginx/templates/default.conf.template:ro
    depends_on:
      app:
        condition: service_healthy
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    image: urlshortener_app
    env_file:
      - docker/common.env
    container_name: app
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
    environment:
     - POD_NAME=${POD_NAME}
    healthcheck:
      test: ["CMD", "cgi-fcgi", "-bind", "-connect", "127.0.0.1:${PHP_FPM_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: mysql:8.0
    container_name: db
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - DB_PORT
    ports:
     - "${DB_PORT:-3306}:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

#   worker:
#     image: app:latest # Reuses the image built by the app service
#     container_name: worker
#     build:
#         context: .
#         dockerfile: docker/Dockerfile
#     restart: unless-stopped
#     volumes:
#     - ./:/var/www/html
#     command: php /var/www/html/artisan queue:work --sleep=3 --tries=3 --timeout=90
#     depends_on:
#         app:
#             condition: service_healthy
#         db:
#             condition: service_healthy
#         redis:
#             condition: service_healthy
#     networks:
#     - app-network

  scheduler:
    image: app:latest # Reuses the image built by the app service
    container_name: scheduler
    build:
        context: .
        dockerfile: docker/Dockerfile
    user: "${USER_ID}:${GROUP_ID}"
    restart: unless-stopped
    volumes:
    - ./:/var/www/html
    env_file:
      - docker/common.env
    environment:
      - SCHEDULER_PING_INTERVAL
      - POD_NAME=url-shortener-2
    command: >
      sh -c "while true; do
        echo 'Running scheduler...'
        php artisan schedule:run --no-interaction
        sleep ${SCHEDULER_PING_INTERVAL:-60};
      done"
    depends_on:
        app:
            condition: service_healthy
        db:
            condition: service_healthy
        redis:
            condition: service_healthy
    networks:
    - app-network

networks:
    app-network:
        driver: bridge

volumes:
    db_data:
    redis_data:
